@charset "UTF-8";
@font-face {
  font-family: NovaOval-Regular;
  src: url(../font/Nova_Oval/NovaOval-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 991px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    width: 100%;
  }
}
nav a.navbar-brand {
  font-size: 50px;
  padding: 5px;
  margin: 2px;
  animation-name: marca;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 1s;
}
@keyframes marca {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
nav ul {
  text-decoration: none;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.navbar .collapse.navbar-collapse {
  flex-grow: inherit;
}

.nav-item {
  width: 100px;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}
@media screen and (max-width: 600px) {
  .nav-item {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
.nav-item .nav-link:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

body {
  background-color: #bdc3c7;
  background-color: linear-gradient(to right, rgba(86, 115, 141, 0.8352941176), #bdc3c7);
  padding: 10px;
  margin: 5px;
}
body h1 {
  font-family: NovaOval-Regular;
  font-size: 35px;
  text-align: center;
  color: black;
  padding: 10px;
  margin: 5px;
}
@media screen and (max-width: 600px) {
  body h1 {
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}

body.index main {
  padding: 1vh;
  margin: auto;
  max-width: 1200px;
  min-height: auto;
}
body.index main h2 {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
}
body.index main div.descripcion {
  text-align: center;
  padding: 10px;
  margin: 5px;
}
body.index main div.descripcion p {
  font-size: 20px;
  text-align: center;
  padding: 2px;
  margin: 2px;
}
@media screen and (max-width: 600px) {
  body.index main div.descripcion p {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
body.index main div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px;
}
body.index main div.container div.tarjeta {
  width: 30%;
  border: 1px solid lightgray;
  margin: 2px;
  box-shadow: 1px 1px 4px 2px rgba(211, 211, 211, 0.8196078431);
  border-radius: 10px;
  font-family: sans-serif;
}
body.index main div.container div.tarjeta h3 {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 2px;
}
@media screen and (max-width: 600px) {
  body.index main div.container div.tarjeta h3 {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
body.index main div.container div.tarjeta p {
  text-align: center;
  font-size: 15px;
  padding: 2px;
  margin: 2px;
}
@media screen and (max-width: 600px) {
  body.index main div.container div.tarjeta p {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
body.index main h2 {
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  body.index main h2 {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
body.index main div iframe {
  height: 200px;
  width: 100%;
}

.galeria main {
  padding: 1vh;
  margin: auto;
  max-width: 1200px;
  min-height: auto;
}
.galeria main div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vh;
  gap: 30px;
}
.galeria main div.container div.tarjeta {
  width: 60%;
  background-color: white;
  border: 0.5px solid rgb(221, 164, 164);
  margin: 2px;
  box-shadow: 1px 1px 4px 2px rgba(222, 154, 154, 0.8196078431);
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .galeria main div.container div.tarjeta {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .galeria main div.container div.tarjeta {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .galeria main div.container div.tarjeta {
    width: 20%;
  }
}
.galeria main div.container div.tarjeta p {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin: 2px;
}
@media screen and (max-width: 600px) {
  .galeria main div.container div.tarjeta p {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
.galeria main h2 {
  text-align: center;
  font-size: 20px;
  padding: 2vh;
  margin: 1vh;
}
.galeria main section {
  padding: 5px;
  margin: 2px;
}
.galeria main section article {
  font-size: 20px;
  text-align: center;
  padding: 2px;
  margin: 2px;
}
@media screen and (max-width: 600px) {
  .galeria main section article {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}

.compras main {
  padding: 5px;
  margin: auto;
  max-width: 1000px;
}
.compras main section {
  padding: 5px;
  margin: 2px;
}
.compras main section div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.compras main section div.container div.tarjeta {
  width: 200px;
  height: 500px;
  border: 2px solid rgb(249, 243, 243);
  margin: 10px;
  border-radius: 5px;
  gap: 10px;
}
.compras main section div.container div.tarjeta img {
  width: auto;
  height: 300px;
}
.compras main section div.container div.tarjeta img .card-img-top {
  width: 100%;
  object-fit: cover;
}
.compras main section div.container div.tarjeta p {
  width: 200px;
  height: 90px;
  padding: 5px;
  margin: 2px;
}
.compras main section div.container div.tarjeta a {
  padding: 5px;
  margin: 2px;
}
.compras main section div.container div.tarjeta a img.pequeña {
  height: 30px;
  width: 50px;
  padding: 2px;
  margin-top: 60px;
}

.instructivos main {
  min-height: calc(100vh - 100px - 300px);
  padding: 2vh;
  margin: auto;
  max-width: 1200px;
}
.instructivos main h2 {
  text-align: center;
  padding: 10px;
  margin: 5px;
}
.instructivos main section {
  padding: 5px;
  margin: 2px;
}
.instructivos main section div.carousel-inner {
  padding: 2px;
  margin: 1px;
  align-content: center;
}
.instructivos main section div.carousel-inner div.carousel-item {
  padding: 2px;
  margin: 1px;
  justify-content: center;
}
.instructivos main section div.carousel-inner div.carousel-item article :is(.martillo, .destornillador, .sierra, .taladro, .cierra-circular, .lijadora) {
  margin: 10px 5px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
.instructivos main section div.carousel-inner div.carousel-item article h2 {
  padding: 5px;
  margin: 2px;
  text-align: center;
}
.instructivos main section div.carousel-inner div.carousel-item article p {
  padding: 5px;
  margin: 2px;
  text-align: center;
}
.instructivos main section div.carousel-inner div.carousel-item article ul {
  padding: 5px;
  margin: 2px;
  list-style: none;
}
.instructivos main section div.carousel-inner div.carousel-item article ul li {
  padding: 5px;
  margin: 2px;
  text-align: center;
}
.instructivos main div.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.instructivos main div.container iframe {
  padding: 10px;
  margin: 5px;
  gap: 10px;
}

.cont main {
  padding: 10px;
  margin: auto;
  max-width: 1200px;
}
.cont main form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 30px;
  margin: 20px;
}

footer {
  border-top: 1px solid;
  padding: 30px;
  margin: 20px;
}
footer section {
  text-decoration: none;
}
footer section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  margin: 2px;
  padding: 5px;
}
footer section ul li {
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 5px;
}
footer section ul li:hover {
  transform: scale(1.3);
}
footer section ul li:hover a.pequeña {
  padding: 10px;
  margin: 5px;
}
footer p {
  text-align: center;
}

body footer p {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
