body {
    @include body;


    h1 {
        font-family: NovaOval-Regular;
        font-size: 35px;
        text-align: center;
        color: $color-primary;
        padding: 10px;
        margin: 5px;
        @include titulo;
    }
}

body.index main {
    padding: 1vh;
    margin: auto;
    max-width: 1200px;
    min-height: auto;

    h2 {
        text-align: center;
        font-size: 25px;
        padding: 10px;
        margin: 5px;
    }

    div.descripcion {
        text-align: center;
        padding: 10px;
        margin: 5px;

        p {
            font-size: 20px;
            text-align: center;
            padding: 2px;
            margin: 2px;
            @include texto;
        }
    }

    div.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2px;

        div.tarjeta {
            width: 30%;
            border: 1px solid grey;
            margin: 2px;
            box-shadow: 1px 1px 4px 2px grey;
            border-radius: 10px;
            font-family: sans-serif;
            background: #E0EAFC;
            background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
            background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);

            img {
                border-radius: 10px;
            }

            h3 {
                text-align: center;
                font-size: 15px;
                padding: 5px;
                margin: 2px;
                @include texto;
            }

            p {
                text-align: center;
                font-size: 15px;
                padding: 2px;
                margin: 2px;
                @include texto;
            }
        }
    }

    h2 {
        text-align: center;
        font-size: 20px;
        @include texto
    }

    div iframe {
        height: 200px;
        width: 100%;
    }
}

.galeria main {
    padding: 1vh;
    margin: auto;
    max-width: 1200px;
    min-height: auto;

    div.container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1vh;
        gap: 30px;

        div.tarjeta {
            width: 60%;
            background-color: white;
            border: 0.5px solid grey;
            margin: 2px;
            box-shadow: 1px 1px 4px 2px grey;
            border-radius: 10px;
            @include mobile;
            @include tablet;
            @include desktop;

            img {
                border-radius: 10px;
            }

            p {
                font-size: 15px;
                text-align: center;
                padding: 5px;
                margin: 2px;
                @include texto;
            }
        }
    }

    h2 {
        text-align: center;
        font-size: 20px;
        padding: 2vh;
        margin: 1vh;
    }

    section {
        padding: 5px;
        margin: 2px;

        article {
            font-size: 20px;
            text-align: center;
            padding: 2px;
            margin: 2px;
            @include texto
        }
    }
}

.compras main {
    padding: 5px;
    margin: auto;
    max-width: 1000px;

    section {
        padding: 5px;
        margin: 2px;

        div.container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px;

            div.tarjeta {
                width: 200px;
                height: 450px;
                box-shadow: 1px 1px 4px 2px grey;
                margin: 15px;
                border-radius: 5px;
                gap: 20px;
                background: #E0EAFC;
                background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);
                background: linear-gradient(to bottom, #CFDEF3, #E0EAFC);


                img {
                    border-radius: 5px;
                    width: auto;
                    height: 250px;

                    .card-img-top {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    width: 200px;
                    height: 60px;
                    padding: 5px;
                    margin: 10px;
                }

                .quantity {
                    display: flex;
                    align-items: center;

                    a {
                        padding: 5px;
                        margin: 2px;

                        img.pequeña {

                            height: 30px;
                            width: 50px;
                            padding: 2px;
                            margin-top: 2px;

                        }

                    }

                    input {
                        text-align: center;
                        height: 30px;
                        width: 50px;
                        margin-left: 20px;
                        margin-top: 2px;
                        border-radius: 5px;
                    }

                    button {
                        border-radius: 5px;
                        height: 30px;
                        width: 20px;
                        margin-top: 2px;
                        margin-left: 2px;
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type="number"] {
                        -moz-appearance: textfield;
                    }

                }
            }
        }
    }
}

#payment-section {
    border: 1px solid #ccc;
    padding: 20px;

    #payment-form {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        input {
            margin-bottom: 10px;
        }

        button {
            padding: 10px;
        }
    }
}

.instructivos main {
    min-height: calc(100vh - 100px - 300px);
    padding: 2vh;
    margin: auto;
    max-width: 1200px;

    h2 {
        text-align: center;
        padding: 10px;
        margin: 5px;
    }

    div.carousel-inner {
        padding: 2px;
        margin: 1px;
        align-content: center;

        div.carousel-item {
            padding: 2px;
            margin: 1px;
            justify-content: center;

            article {
                :is(.martillo, .destornillador, .sierra, .taladro, .cierra-circular, .lijadora) {
                    margin: 10px 5px;
                    text-align: center;
                    border-radius: 10px;
                    width: 100%;
                }

                h2 {
                    padding: 5px;
                    margin: 2px;
                    text-align: center;
                }

                p {
                    padding: 5px;
                    margin: 2px;
                    text-align: center;
                }

                ul {
                    padding: 5px;
                    margin: 2px;
                    list-style: none;

                    li {
                        padding: 5px;
                        margin: 2px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

    iframe {
        width: 500px;
        height: 250px;
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        gap: 10px;
    }

}


.cont main {
    padding: 10px;
    margin: auto;
    max-width: 1200px;

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        padding: 30px;
        margin: 20px;
    }
}