nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    @include nav;

    a.navbar-brand {
        padding: 5px;
        margin: 2px;
        animation-name: marca;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        animation-delay: 1s;

        img {
            width: 400px;
            height: 200px;

            @media screen and (max-width:600px) {
                width: 300px;
            }

            @media screen and (max-width:400px) {
                width: 200px;
            }
        }
    }

    @keyframes marca {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }

    }

    ul {
        text-decoration: none;
        align-items: center;

        li {
            list-style: none;
            font-weight: bolder;

            &:hover {

                transition: 0.5s;
                transform: scale(1.1);
            }
        }
    }

}

.navbar .collapse.navbar-collapse {
    flex-grow: inherit;
}


.nav-item {

    width: 100px;
    font-size: 18px;
    padding: 2px;
    margin: 25px;
    @include texto;

    .nav-link {
        color: rgb(44, 70, 151);

        &:hover {
            color: black;
            transition: all 0.5s;
            transform: scale(1.1);
        }
    }
}