@mixin body {
    background-color: #bdc3c7;
    background-color: $bg-color;
    padding: 10px;
    margin: 5px;
}

@mixin nav {
    @media screen and (max-width:991px) {
        @content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        list-style: none;
        width: 100%;
    }
}

@mixin texto {
    @media screen and (max-width:600px) {
        @content;
        font-size: map-get($font-size, f-sm);
        text-align: center;
        padding: 5px;
        margin: 2px;
    }
}

@mixin titulo {
    @media screen and (max-width:600px) {
        @content;
        font-size: map-get($font-size, f-xl);
        text-align: center;
        padding: 5px;
        margin: 2px;
    }
}

@mixin desktop ($media : $lg) {
    @media screen and (min-width: $media) {
        @content; 
        width: 20%;
    }
}

@mixin tablet ($media : $md) {
    @media screen and (min-width: $media) {
        @content;
        width: 30%;
    }
}

@mixin mobile ($media : $sm) {
    @media screen and (min-width: $media) {
        @content;
        width: 40%;
    }
}









